@import url('https://fonts.googleapis.com/css?family=Open+Sans|Catamaran|Roboto');
/* COLORS
#4285F4 - blue
#34A853 - green
#FBBC05 - orange
#EA4335 - red
#242424 - black
*/

#mainNav {
  background-color: #FFFFFF;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  transition: top 0.3s; /* Animation handled by scrolling-nav.js*/
}

header {
}

body {
}

#main {
}
#frontcvr {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#scprofile {
  min-height: 100vh;
}
#scskills {
  min-height: 100vh;
}
#scwork {
}
#scabout {
  min-height: 100vh;
}
#sccontact {
  min-height: 70vh;
}

/**
footer {
  color: #FFFFFF;
  background-color: #242424;
}
*/

.container-fluid {
  padding: 0px;
}

.parallax {
  perspective: 1px;  /* viewport perspective */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__group {
  position: relative;
}
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax_layer-base {
  transform: translateZ(0px);
}
.parallax_layer-back {
  transform: translateZ(-1px) scale(2);
}
/* scale factor can be calculated with: 1 + (translateZ * -1) / perspective
Example, if our viewport perspective is set to 1px and
we translate an element -2px along the Z axis the correction scale factor would be 3 */


h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

h2 {
  padding: 0px 0px 2px 0px;
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
}

h4 {
  font-family: 'Roboto', sans-serif;
  color: #4285F4;
}

h5 {
  font-family: 'Roboto', sans-serif;
  color: #34A853;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

video {
  display: flex;
  margin: auto;
  padding: auto;
  width: 100%;
  height: auto;
  max-width: 360px;
}

img {
  display:flex;
  margin: auto;
  padding: 5px;
  width: 100%;
  height: auto;
  max-width: 360px;
}

section {
  max-width: 26cm;
  padding: 20vh 2em;
  margin: auto;
}

.bar {
  height: .2em;
  background-color: rgb(200, 200, 200);
}

.btn {
  background-color: transparent;
  padding: .8em 2.8em;
  font-size: 20px;
  border-radius: 0;
  border-width: .02em;
}

.interactive {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.interactive:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.btn-jmp {
  border-color: #FFFFFF;
}

.btn-mail {
  border-color: #FFFFFF;
}

.ccard {
  margin: 5vh 0vh;
}


.card-header {
  visibility: hidden;
}

input, textarea {
  width: 100%; 
  padding: 12px; 
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* SLIDE ANIMATION: class="slideanim"*/
.slideanim {
  visibility: hidden;
}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    /* Make the element visible */
    visibility: visible;
}

/* Goes from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.bg-cover {
    background-image: linear-gradient(#0a0a0a, #133041);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

.bg-cover2 {
    background-image: linear-gradient(#0a0a0a, #080f22);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

.bg-cover3 {
    background-image: linear-gradient(#0a0a0a, #080f22);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

.bg-cover4 {
    background-image: linear-gradient(#0a0a0a, #171717);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

/* Following only shown on bigger screens */
@media (min-width: 600px) {
  .bg-cover {
      background-image: url('../images/stars.jpeg');
  }
  .bg-cover2 {
      background-image: url('../images/newsky.jpg');
  }
  .bg-cover3 {
      background-image: url('../images/mountains.jpg');
  }
  .bg-cover4 {

  }
  .card-header {
    visibility: visible;
  }
}
