@import url('https://fonts.googleapis.com/css?family=Poppins|Open+Sans');
/* COLORS
#4285F4 - blue
#34A853 - green
#FBBC05 - orange
#EA4335 - red
#242424 - black
*/

#mainNav {
  backdrop-filter: opacity(96%) blur(8px);
  font-family: 'Poppins', sans-serif;
  transition: top 0.3s; /* Animation handled by scrolling-nav.js*/
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

header {
}

body {
  background-color: #000000;
}

#main {
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
#skills {
  /*min-height: 100vh;*/
}
#work {
  min-height: 100vh;
}
#about {
  min-height: 100vh;
}
#contact {
  min-height: 100vh;
}

/*
footer {
  color: #FFFFFF;
  background-color: #242424;
}
*/

.container-fluid {
  padding: 0px;
}

#audioplayer {
  position: absolute;
  top: 12%;
  left: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  right: 50%;
  z-index: 99;
  border-width: 0;
  font-size: 2rem;
  min-width: 2rem;
  text-align: left;
  background: transparent;
}


.skill {
}

.skill > .icon {
  width: 50px;
  height: 50px;
}

.skill > .description {
  font-family: 'Poppins', sans-serif;
  align-items: right;
}

.parallax {
  perspective: 1px;  /* viewport perspective */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__group {
  position: relative;
}
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax_layer-base {
  transform: translateZ(0px);
}
.parallax_layer-back {
  transform: translateZ(-1px) scale(2);
}
/* scale factor can be calculated with: 1 + (translateZ * -1) / perspective
Example, if our viewport perspective is set to 1px and
we translate an element -2px along the Z axis the correction scale factor would be 3 */

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h4 {
  font-family: 'Poppins', sans-serif;
  color: #4285F4;
}

h5 {
  font-family: 'Poppins', sans-serif;
  color: #34A853;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px 0px 0px 10px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 10px;
}

video {
  display: flex;
  margin: auto;
  padding: auto;
  width: 100%;
  height: auto;
  max-width: 360px;
}

img {
  display:flex;
  margin: auto;
  padding: 5px;
  width: 100%;
  height: auto;
  max-width: 360px;
  cursor: zoom-in;
}

section {
  max-width: 26cm;
  padding: 20vh 2em;
  margin: auto;
}

form {
  padding: 25px;
  border-radius: 1em;
  justify-content: center;
}

form > input, textarea {
  width: 100%; 
  padding: 12px; 
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: 'Poppins', sans-serif;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 0.2em;
  border-width: 0.01em;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.26);
}

form > #submit {
  background-color: rgb(236, 187, 24);
  border-width: 0;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.26);
}

.bar {
  height: 0.2em;
  background-color: rgb(200, 200, 200);
}

.interactive {
  cursor: pointer;
}

.btn-framed {
  background-color: transparent;
  padding: .8em 2.8em;
  font-size: 20px;
  border-radius: 2em;
  border-width: .02em;
  border-color: #FFFFFF;
  transition: all 0.2s ease-in-out;

  font-family: Poppins, sans-serif;
  
}

.btn-framed:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.btn-mail {
  border-color: #FFFFFF;
}

.btn-collapse {
  text-align: left;
  border-width: 0;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.26);
}

.sliderightmicroanim {
  transition: all 0.2s ease-in-out;
}

.btn-collapse:hover .sliderightmicroanim {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

.card-header {
  padding: 25px;
}

.card-body {
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.26);
}

.ccard {
  margin: 5vh 0vh;
  padding: 25px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.26);
}


/* SLIDE ANIMATION: class="slideanim"*/
.slideanim {
  visibility: visible;
}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  /* Make the element visible */
  visibility: visible;
}

/* Goes from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(50%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
      opacity: 0;
      -webkit-transform: translateY(50%);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
  }
}

.bg-cover {
  background-image: url('../images/stars.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-cover2 {
  background-image: url('../images/newsky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.bg-cover3 {
  background-image: url('../images/mountains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-cover4 {
  background-image: linear-gradient(#171717, #171717);

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* keep in front of stars */
  z-index: 10; 
}

/* Following only shown on bigger screens */
@media (min-width: 600px) {

  .bg-cover {
    background-attachment: fixed;
  }

  .bg-cover2 {
    background-attachment: fixed;
  }

  .bg-cover3 {
    background-attachment: fixed;
  }

  .bg-cover4 {
  }

}

/* Hide effect on too wide resolution*/
@media (min-width: 2000px) {
  #stars {
    display: none;
  }
  #snow {
    display: none;
  }
}