@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Roboto');
/* COLORS
#4285F4;
#34A853;
#FBBC05
#EA4335
#141414;
*/

#mainNav {
  background-color: #FFFFFF;
  transition: top 0.3s;
  /* Animation handled by scrolling-nav.js*/
}

header {


}
@media (min-width: 992px) {
  header {
    padding: 124px 0px 124px;
  }
}


body {
  font-family: 'Montserrat', sans-serif;
}

#main {
}

#s1 {

}
#edu {

}
#s2 {

}
#s3 {

}

footer {
  color: #FFFFFF;
  background-color: #141414;
}

.background-cover {
    background-image:url('../images/bulb.jpeg');
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    justify-content:center;

    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}

.background-cover2 {
    background-image:url('../images/launch.jpg');
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    justify-content:center;

    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 84px;
  font-weight: bold;
}

h2 {

}
h3 {

}

h4 {
  color: #4285F4;
}

h5 {
  color: #34A853;
}

p {
  font-family: 'Montserrat', arial, sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 400;

  display: block;
  margin-right: auto;
  margin-left: auto;
}

content {
  display: block;
  margin: 5px;
}

video {
  display: flex;
  margin: auto;
  padding: auto;
  width: 100%;
  height: auto;
  max-width: 300px;
}

img {
  display:flex;
  margin: auto;
  padding: 5px;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.container-fluid {
  padding: 0px;
}

section {
  max-width: 25cm;
  /*-webkit-box-shadow: 0px 2px 2px 0px rgba(179,179,179,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(179,179,179,1);
  box-shadow: 1px 2px 2px 1px rgba(179,179,179,1);*/
  padding: 40px 40px;
  margin: auto;
}

.flat-button {
  width: 6cm;
  height: 1.2cm;
  margin: 5px;
  font-size: 20px;
  color: #1a1a1a;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #1a1a1a;
  transition: all .3s ease-in;
}
.flat-button:hover {
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.02);
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari and Chrome */
}
.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.card {
  border: 0;
  margin: auto;
  border-radius: 0px;
  shape-outside: 0px;
  margin: 20px 0px;
}

.card-header {
  border: 0;
  background-color: #FFFFFF;
  transition: all .1s ease-in;
}


.card-header:hover {
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
  opacity: 1;
  transform: scale(1.02);
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari and Chrome */
}


/* SLIDE ANIMATION: class="slideanim"*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    /* Make the element visible */
    visibility: visible;
}

/* Goes from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* TYPEWRITER ANIMATION: class="typewriteranim typeline-1"*/
.typewriteranim{
  animation: typewriter 3s steps(44) 1s 1 normal both;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

.typeline-1{
    margin: 0 auto;
    font-size: 140%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* LINES WITH TEXT: class="strike"*/
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20%;
    height: 2px;
    background: #000000;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

/* ANIMATED ENVELOPE */
.contact {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
		height: 220px;
		width: 250px;

		border-radius: 2px;
		-ms-border-radius: 2px;
		-moz-border-radius: 2px;
		-o-border-radius: 2px;
		-webkit-border-radius: 2px;
}
.contact .envelope {
		position: absolute;
		height: 93px;
		width: 165px;
		left: 50%;
		margin-left: -83px;
		top: 50%;
		margin-top: -50px;
		background: #F9F9F9;

		transition: margin-top 300ms;
		-ms-transition: margin-top 300ms;
		-moz-transition: margin-top 300ms;
		-o-transition: margin-top 300ms;
		-webkit-transition: margin-top 300ms;
}
.contact:hover .envelope {
		transition-delay: 150ms;
		-ms-transition-delay: 150ms;
		-moz-transition-delay: 150ms;
		-o-transition-delay: 150ms;
		margin-top: -20px;
}
.contact .envelope .top {
		position: absolute;
		top: -3px;
		left: 0px;
		width: 100%;
		height: 73px;
		z-index: 30;
		overflow: hidden;

		transform-origin: top;
		-ms-transform-origin: top;
		-moz-transform-origin: top;
		-o-transform-origin: top;
		-webkit-transform-origin: top;

		transition: transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-ms-transition: -ms-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-moz-transition: -moz-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-o-transition: -o-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-webkit-transition: -webkit-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
}
.contact:hover .envelope .top {
		transition: transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-ms-transition: -ms-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-moz-transition: -moz-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-o-transition: -o-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-webkit-transition: -webkit-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;

		height: 10px;
		top: -60px;

		transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
		-o-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
}
.contact .envelope .outer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		border-left: 83px solid transparent;
		border-right: 82px solid transparent;
		border-top: 70px solid #EEE;
}
.contact .envelope .outer .inner {
		position: absolute;
		left: -81px;
		top: -73px;
		border-left: 81px solid transparent;
		border-right: 80px solid transparent;
		border-top: 68px solid #333;
}
.contact .envelope .bottom {
		position: absolute;
		z-index: 20;
		bottom: 0px;
		left: 2px;
		border-left: 81px solid transparent;
		border-right: 80px solid transparent;
		border-bottom: 45px solid #333;
}
.contact .envelope .left {
		position: absolute;
		z-index: 20; top: 0px;
		left: 0px;
		border-left: 81px solid #333;
		border-top: 45px solid transparent;
		border-bottom: 45px solid transparent;
}
.contact .envelope .right {
		position: absolute;
		z-index: 20;
		top: 0px;
		right: 0px;
		border-right: 80px solid #333;
		border-top: 45px solid transparent;
		border-bottom: 45px solid transparent;
}
.contact .envelope .cover {
		position: absolute;
		z-index: 15;
		bottom: 0px;
		left: 0px;
		height: 55%;
		width: 100%;
		background: #EEE;
}
.contact .envelope .paper {
		position: absolute;
		height: 83px;
		padding-top: 10px;
		width: 100%;
		top: 0px;
		left: 0px;
		background: #F9F9F9;
		z-index: 10;
		transition: margin-top 300ms 0ms;
		-ms-transition: margin-top 300ms 0ms;
		-moz-transition: margin-top 300ms 0ms;
		-o-transition: margin-top 300ms 0ms;
		-webkit-transition: margin-top 300ms 0ms;
}
.contact:hover .envelope .paper {
		margin-top: -60px;
		transition: margin-top 300ms 150ms;
		-ms-transition: margin-top 300ms 150ms;
		-moz-transition: margin-top 300ms 150ms;
		-o-transition: margin-top 300ms 150ms;
		-webkit-transition: margin-top 300ms 150ms;
}
.contact .envelope .paper a {
		position: relative;
		display: block;
		font-size: 14px;
		margin: 5px;
		margin-bottom: 0px;
		text-align: center;
		color: #333;
		text-decoration: none;
}
.contact .envelope .paper a.call .i {
		position: absolute;
		top: 2px;
		left: 20px;
		display: inline-block;
		width: 3px;
		height: 5px;
		border-width: 5px 0 5px 2px;
		border-style: solid;
		border-color: #555;
		background: transparent;

		transform: rotate(-30deg);
		-ms-transform: rotate(-30deg);
		-moz-transform: rotate(-30deg);
		-o-transform: rotate(-30deg);
		-webkit-transform: rotate(-30deg);

		border-top-left-radius: 3px 5px;
		border-bottom-left-radius: 3px 5px;
		-moz-border-radius-topleft: 3px 5px;
		-moz-border-radius-bottomleft: 3px 5px;
		-webkit-border-top-left-radius: 3px 5px;
		-webkit-border-bottom-left-radius: 3px 5px;

		transition: border-color 300ms;
		-ms-transition: border-color 300ms;
		-moz-transition: border-color 300ms;
		-o-transition: border-color 300ms;
		-webkit-transition: border-color 300ms;
}
.contact .envelope .paper a {
		color: #333;

		transition: color 200ms;
		-ms-transition: color 200ms;
		-moz-transition: color 200ms;
		-o-transition: color 200ms;
		-webkit-transition: color 200ms;
}
.contact .envelope .paper a:hover {
		color: #EEE;
}
.contact .envelope .paper a.call:hover .i {
		border-color: #DDD;
}
.contact .envelope .paper a.mail .i {
		position: absolute;
		top: 0px;
		left: 17px;
		display: inline-block;
		font-size: 13px;
		font-weight: bold;
}
